.dsc-card-product {
    width: 225px;
    height: 280px;
    background-color: var(--cards-background-color);
    border-radius: 4px;
    border: 1px solid var(--cards-border-color);
    margin: 0 20px 20px 0;
    cursor: pointer;
}

.dsc-card-product:hover {
    border: 1px solid var(--cards-border-hover-color);
}

.dsc-card-product-four {
    margin: 0 0 20px 0;
    width: 225px;
}

.dsc-card-image img {
    width: 150px;
    height: 150px;
}

.dsc-card-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--cards-border-color);
}

.dsc-card-price {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
    color: var(--cards-price-color);
}

.dsc-card-name-product {
    margin: 0 19px 25px 20px;
    font-size: 10px;
    color: var(--cards-product-name-color);
}

.dsc-card-container {
    display: flex;
    width: 960px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.dsc-load-more {
    width: 100%;
    height: 42px;
    color: var(--cards-button-load-more-text-first-color);
    font-size: 16px;
    font-weight: 700;
    background-color: var(--cards-button-load-more-background-color);
    border: 1px solid var(--cards-button-load-more-border-first-color);
    cursor: pointer;
}

.dsc-load-more:hover {
    color: var(--cards-button-load-more-text-second-color);
    border: 1px solid var(--cards-button-load-more-border-second-color);
}

