@import 'details.css';
@import 'cart.css';
@import 'catalog.css';

:root {
    --header-background-color: #FFE500;
    --header-text-color: #636363;

    --main-background-color: #E8E8E8;

    --cards-background-color: #FFF;
    --cards-border-color: #D9D9D9;
    --cards-border-hover-color: #606060;
    --cards-product-name-color: #636363;
    --cards-product-description-color: #636363;
    --cards-price-color: #0CAF1D;
    --cards-category-background-color: #636363;
    --cards-category-text-color: #FFF;
    --cards-button-background-search-bar: #EDEDED;
    --cards-button-text-search-bar: #636363;
    --cards-button-text-placeholder-search-bar: #D9D9D9;
    --cards-button-quantity-change-first-color: #3483FA;
    --cards-buttons-quantity-change-second-color: #0152CD;
    --cards-button-load-more-background-color: #E8E8E8;
    --cards-button-load-more-border-first-color: #3483FA;
    --cards-button-load-more-border-second-color: #0152CD;
    --cards-button-load-more-text-first-color: #3483FA;
    --cards-button-load-more-text-second-color: #0152CD;

    --btn-first-button-background-color: #3483FA;
    --btn-first-button-text-color: #FFF;

    --btn-second-button-background-color: #FFF;
    --btn-second-button-text-color: #3483FA;
    --btn-second-button-border-color: #3483FA;
    
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

html,
body {
    background-color: var(--main-background-color);
}

main {
    padding: 0 20px;
}

/*-------------------------------------------------------------*/
/*generic styles*/
.dsc-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.dsc-container a {
    display: flex;
    align-items: center;
}

.dsc-container img {
    margin-right: 20px;
}

/*-------------------------------------------------------------*/
/*header styles*/

header {
    background-color: var(--header-background-color) ;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

nav {
    color: var(--header-text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 18px;
}

@media (min-width: 576px) {
    nav h1 {
        font-size: 24px;
    }
}

nav a {
    font-size: 14px;
    font-weight: 700;
}

/*-------------------------------------------------------------*/
/*card styles*/

.dsc-card-details {
    background-color: var(--cards-background-color);
    border-radius: 4px;
    border: 1px solid var(--cards-border-color);
}

/*-------------------------------------------------------------*/
/*button styles*/

.dsc-btns {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    display: grid;
    grid-gap: 20px;
}

.dsc-btn {
    width: 100%;
    height: 42px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
}

@media (min-width: 576px) {
    .dsc-btn {
        width: 220px;
    }
}

.dsc-btn-blue {
    color:var(--btn-first-button-text-color) ;
    border: none;
    background-color: var(--btn-first-button-background-color);
}

.dsc-btn-white {
    color: var(--btn-second-button-text-color);
    background-color: var(--btn-second-button-background-color);
    border: 1px solid var(--btn-second-button-border-color);
}